body {
    font-family: 'Arial', sans-serif;
    background-color: #469cf1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .faq-title {
    text-align: center;
    color: rgb(224, 194, 25) ;
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
  }
  
  .faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    background-color: #074f5f;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .faq-question:hover {
    background-color: #ececec;
  }
  
  .faq-icon {
    font-size: 20px;
    color: #91672c;
    transition: transform 0.3s ease;
  }
  
  .faq-answer {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    padding: 10px 10px 0 10px;
    display: none;
  }
  
  .faq-answer.active {
    display: block;
  }
  
  .faq-icon.rotate {
    transform: rotate(45deg);
  }
  